body {
    background-color: rgba(245, 248, 255, 1);
    margin: 0;
    padding: 0;
}

.defaulttext_fontsize1 {
  font-size: 22px;
}
.defaulttitle_fontsize1 {
  font-size: 50px;
}

li{
    margin-bottom: 15px;
}

/* header */
a{
     text-decoration: none;
     color: black;
     font-size: 1rem;
}

header{
    margin: 30px 150px 120px 150px;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navright{
    display: flex;
    align-items: center;
}

.logo img{
    height: 82px;
    width: 135px;
    object-fit: contain;
}

.links a{
    font-size: 1rem;
    color: rgba(137, 135, 161, 1);
    margin-right: 1.5rem;
}

.links a.home_link{
    color: rgba(37, 36, 50, 1);
    font-weight: bold;
}

.cart{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.cart_link{
    color: #000000;
    font-size: 16px;
}

.cart img{
    height: 24px;
    width: 24px;
}

/* Banner */

.banner{
    height: 460px;
    margin: 0 150px 120px 150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
}

.banner_text{
    width: 570px;
}

.title1{
    align-items: center;
    font-size: 65px;
    font-weight: bold;
}

.normaltext1{
    color: rgba(0, 0, 0, 0.5);
}

.banner_img{
    height: 355px;
    width: 570px;
}

.banner_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* Plants Section */

.plant_section{
    margin: 0 150px 0 150px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title2{
    align-items: center;
    font-weight: bold;
    text-align: center;
}

.normaltext2{
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    padding: 0 126px;
}

.plant_grid{
    margin: 50px 0 0 0;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.single_plant{

    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 485px;
}

.p_img{
    width: 270px;
    height: 323px;
}

.p_title{
    margin: 25px 0 0 0;
    font-weight: 500;
}

.p_price{
    font-weight: bold;
    margin: 10px 0 25px 0;
}

.btn1{
    width: 270px;
    height: 50px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(233, 90, 8, 1);
    border: none;
}


/* Plant lover */

.plant_lover{
    display: flex;
    margin: 210px 150px 0 150px;
    justify-content: space-between;
    gap: 60px;
}

.pl_img{
    position: relative;
}

.main_img{
    display: block;
}

.overly_img{
    position: absolute;
    top: -120px;
    right: -120px;
    width: 286px;
    height: 286px;
}

.pl_list{

}

.ul_text{
    color: rgba(0, 0, 0, 0.5);
}

/* Latest Deals */

.deals{
    margin: 133px 150px 120px 150px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.deals_view{
    margin-top: 50px;
    gap: 25px;    
    display: flex;
}

.img_left{
    gap: 25px;
    justify-content: left;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.img_x1, .img_x2{
    position: relative;
    width: 367px;
    height: 197px;
}

.img_x3{
    position: relative;
    width: 753px;
    height: 424px;
}

.img_x1 img, .img_x2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 14px;
}

.img_x3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 22px;
}

.x1_link, .x2_link{
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.x3_link{
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.overlay-text_x1, .overlay-text_x2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    border-radius: 14px;
}

.overlay-text_x3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    border-radius: 22px;
}

/* Join section */
.join{
    background-image: url("../assets/news-letter-bg.png");
    background-size: cover;
    align-items: center;
    text-align: center;
    padding: 193px 305px 193px 305px;
}

.title5{
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

.search{

}

.searchbar{
    height: 50px;
    width: 664px;
    background-color: rgba(255, 255, 255, 1);
    padding: 0 10px;
    color: rgba(0, 0, 0, 0.5);
    border: none;
}

.subscribe{
    height: 50px;
    width: 186px;
    background-color: rgba(233, 90, 8, 1);
    font-size: 16px;
    border: none;
}





@media screen and (max-width: 576px) {

    html {
        font-size: 87.5%;
    }

    .defaulttext_fontsize1 {
        font-size: 16px;
    }

    .defaulttitle_fontsize1 {
        font-size: 24px;
    }

    /* header */

    header{
        margin: 13px 16px 28px 16px;
    }

    .logo img{
        height: 38px;
        width: 63px;
        object-fit: contain;
    }

    .links{
        display: none;
    }

    /* banner */

    .banner{
        margin: 0 0 0 0;
        align-items: center;
        flex-direction: column;
    }

    .banner_img{

        order: 1;
    }

    .banner_text{
        padding: 0 16px;
        height: auto;
        width: auto;
        order: 2;
    }

    .title1{
        align-items: center;
        font-size: 24px;
        font-weight: bold;
        margin: 0 0 10px 0;
    }

    .banner_img img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    /* plants section */

    .plant_section{
        margin: 65px 16px 41px 16px;
    }

    .normaltext2{
        padding: 0 12.5px;
    }

    .plant_grid{
        margin: 28px 0 0 0;
        grid-template-columns: repeat(2, 1fr);
    }

    .single_plant{
        width: auto;
        height: auto;
    }

    .p_img{
        width: auto;
        height: auto;
    }

    .p_img img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .p_price{
        margin: 0 0 25px 0;
    }

    .btn1{
        width: 100%;
        height: 50px;
    }

    /* Plant lover */

    .plant_lover{
        display:contents;
        margin: 0 16px 143px 16px;
        justify-content: center;
        gap: 0px;
    }

    .overly_img{
        display: none;
    }

    /* latest deals */

    .deals{
        margin: 0 16px 40px 16px;
    }

    .deals_view{
        margin-top: 5px;
        gap: 25px;   
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
    }

    .img_left{
        gap: 25px;
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .img_x1, .img_x2, .img_x3{
        position: relative;
        width: 100%;
        height: auto;
    }

    .img_x3 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: 14px;
    }

    .x3_link{
        color: white;
        font-size: 16px;
        font-weight: bold;
    }

    .overlay-text_x3 {
        font-size: 20px;
        border-radius: 14px;
    }

    /* Join section */
    .join{
        padding: 110px 0 64px 0;
    }

    .searchbar{
        width: 218px;
    }

    .subscribe{
        width: 103px;
    }
    
}
